* {
  box-sizing: border-box; }

body {
  height: 3000px; }

.sticky {
  background-color: #fff;
  color: #000;
  box-shadow: 10px 0px 10px 1px #000; }
  @media (max-width: 767px) {
    .sticky .container {
      margin: 0; } }

.padding-y {
  padding: 20px 0; }

.capitalize {
  text-transform: capitalize; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.section-header {
  position: relative;
  width: 50%;
  margin: auto; }
  @media (max-width: 767px) {
    .section-header {
      width: 80%; } }
  .section-header .line {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); }
  .section-header .line1 {
    background: rgba(198, 201, 200, 0.4);
    height: 2px;
    width: 170px; }
  .section-header .line2 {
    background: #25BD8A;
    height: 5px;
    width: 80px; }
  .section-header .section-title {
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: bold; }
    @media (max-width: 767px) {
      .section-header .section-title {
        font-size: 30px; } }
  .section-header .section-desc {
    margin-top: 28px;
    margin-bottom: 20px; }

.active-btn {
  background-color: #25BD8A !important; }

.footer-line::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #797272;
  margin-top: 5px; }

header {
  height: auto;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 2; }
  @media (max-width: 767px) {
    header {
      background-color: #333; } }
  header .bars i {
    position: absolute;
    right: 25px;
    top: 32px;
    display: block;
    cursor: pointer;
    z-index: 10;
    color: #333; }
  header .logo h2 {
    font-size: 30px;
    color: #333;
    cursor: pointer; }
  header nav .nav-list {
    display: block;
    padding: 0;
    margin: 10px 0;
    list-style: none;
    margin-bottom: 0; }
    @media (max-width: 767px) {
      header nav .nav-list {
        display: none;
        margin: 0; } }
    @media (min-width: 768px) {
      header nav .nav-list {
        display: block !important; } }
    @media (min-width: 1200px) {
      header nav .nav-list {
        margin-top: 10px; } }
    header nav .nav-list .list {
      display: inline-block; }
      @media (max-width: 767px) {
        header nav .nav-list .list {
          display: block; } }
      header nav .nav-list .list a {
        padding: 10px;
        display: block;
        margin: 10px 0;
        text-decoration: none;
        color: #333;
        transition: color 0.5s; }
        header nav .nav-list .list a:hover {
          color: #25BD8A; }
        @media (max-width: 767px) {
          header nav .nav-list .list a {
            padding: 0; } }
        @media (min-width: 1200px) {
          header nav .nav-list .list a {
            padding: 15px; } }

.home {
  position: relative;
  margin-top: 0;
  height: 600px;
  background-image: url(../images/skill-bg.jpg);
  background-size: cover;
  background-position: center; }
  .home .home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .home .home-content .home-title {
      font-size: 45px;
      color: #fff;
      margin-bottom: 25px; }
      @media (max-width: 767px) {
        .home .home-content .home-title {
          font-size: 30px; } }
    .home .home-content .home-desc {
      color: #ddd; }
      @media (max-width: 767px) {
        .home .home-content .home-desc {
          font-size: 15px; } }
    .home .home-content .button {
      width: 150px;
      padding: 10px 0;
      font-size: 17px;
      background-color: #25BD8A;
      color: #fff;
      transition: background-color 0.5s; }
      .home .home-content .button:hover {
        background-color: rgba(37, 189, 138, 0.7); }
      @media (max-width: 767px) {
        .home .home-content .button {
          margin-bottom: 10px; } }

@media (max-width: 767px) {
  .about .about-info {
    margin-bottom: 10px; } }
@media (min-width: 768px) {
  .about .about-info {
    margin-bottom: 10px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .about .about-info {
    text-align: center; } }
.about .about-info h3 {
  margin-bottom: 20px;
  font-size: 24px; }
  @media (max-width: 767px) {
    .about .about-info h3 {
      font-size: 20px; } }
  .about .about-info h3 span {
    color: #25BD8A; }
.about .about-info p {
  line-height: 1.8;
  color: #888;
  margin-bottom: 20px; }
.about .about-info button {
  width: 150px;
  padding: 10px 0;
  background: #25BD8A;
  border: 0;
  color: #fff; }
.about .about-img img {
  width: 100%; }

.services {
  background-color: #f7f7f7; }
  .services .service-item {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    transition: all 0.5s; }
    .services .service-item:hover {
      background-color: rgba(37, 189, 138, 0.7);
      cursor: pointer; }
      .services .service-item:hover i {
        color: #25BD8A;
        background-color: #fff; }
      .services .service-item:hover p, .services .service-item:hover h3 {
        color: #fff; }
    .services .service-item i {
      background-color: #25BD8A;
      color: #fff;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 17px; }
    .services .service-item P {
      color: #888;
      line-height: 1.8; }

.stat {
  background-image: url(../images/lap-stat.jpg);
  height: 300px;
  position: relative;
  background-size: cover; }
  @media (max-width: 991px) {
    .stat {
      height: 900px; } }
  .stat .stat-item {
    text-align: center;
    margin: 90px 0;
    color: #fff; }
    @media (max-width: 991px) {
      .stat .stat-item {
        margin: 50px 0; } }
    .stat .stat-item i {
      display: block;
      width: 60px;
      height: 60px;
      line-height: 60px;
      background: #25BD8A;
      font-size: 25px;
      border-radius: 50%;
      margin: auto;
      margin-bottom: 10px; }
    .stat .stat-item span {
      display: block;
      color: #fff;
      font-size: 25px; }
    .stat .stat-item .timer-desc {
      font-size: 20px; }

.portfolio .btn-container {
  margin-bottom: 20px;
  text-align: center; }
  .portfolio .btn-container button {
    width: 120px;
    border: 0;
    padding: 10px;
    color: #fff;
    background: #333;
    outline: none; }
.portfolio .imgs-container img {
  margin-bottom: 20px;
  width: 100%; }
.portfolio .more {
  width: 140px;
  border: 0;
  padding: 10px;
  color: #fff;
  background: #333;
  margin: auto;
  display: block;
  outline: none; }

.experts {
  background-color: #4C4C4C;
  padding: 40px 0;
  margin-bottom: 0; }
  .experts .section-title {
    color: #fff; }
  .experts .progress-container {
    margin-top: 55px; }
    .experts .progress-container .progress {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      text-align: center;
      font-size: 25px;
      line-height: 135px;
      color: #fff;
      background: none;
      box-shadow: none;
      position: relative;
      margin: auto; }
      .experts .progress-container .progress span {
        position: absolute;
        top: 7px;
        left: 53px; }
    .experts .progress-container .progress-title {
      color: #fff;
      text-align: center;
      margin-top: 10px;
      font-size: 20px; }

.plans {
  background-color: #F7F7F7;
  margin-top: 0; }
  .plans .plan-item {
    margin-top: 30px;
    background: #fff;
    text-align: center; }
    .plans .plan-item .plan-header {
      background: #333;
      color: #fff;
      padding: 10px 0;
      transition: background-color 0.5s; }
      .plans .plan-item .plan-header .plan-price {
        display: block;
        font-size: 35px;
        font-weight: bold; }
      .plans .plan-item .plan-header .plan-desc {
        font-size: 20px; }
    .plans .plan-item .plan-title {
      margin: 0;
      font-size: 18px;
      padding: 30px 0;
      border-bottom: 1px solid #ccc; }
    .plans .plan-item ul {
      margin: 10px 0; }
      .plans .plan-item ul li {
        line-height: 2; }
    .plans .plan-item button {
      border: 0;
      width: 100%;
      height: 40px;
      background-color: #333;
      color: #fff;
      outline: 0;
      transition: background-color 0.5s; }
    .plans .plan-item:hover .plan-header, .plans .plan-item:hover button {
      background-color: #25BD8A; }

.team .item h4 {
  font-weight: bold;
  font-size: 20px; }
.team .item .team-desc {
  font-size: 17px;
  margin-bottom: 5px;
  display: block; }
.team .item ul {
  background: #000;
  color: #fff;
  padding: 15px;
  position: relative; }
  .team .item ul li {
    display: inline-block;
    padding: 0px 12px; }
    .team .item ul li i {
      position: relative;
      z-index: 999; }
  .team .item ul .bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #25BD8A;
    width: 0;
    transition: width 0.5s; }
.team .item:hover .bg {
  width: 100%; }

.work-experts {
  background-image: url(../images/lap-stat.jpg);
  background-size: cover;
  height: 300px;
  position: relative;
  background-position: center;
  background-attachment: fixed; }
  .work-experts .work-experts-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }
    .work-experts .work-experts-content h1 {
      color: #fff;
      font-size: 35px; }
      @media (max-width: 767px) {
        .work-experts .work-experts-content h1 {
          font-size: 30px; } }
    .work-experts .work-experts-content p {
      color: #d4d1d1;
      font-size: 19px;
      margin: 10px auto;
      width: 60%; }
      @media (max-width: 767px) {
        .work-experts .work-experts-content p {
          width: 80%; } }
    .work-experts .work-experts-content button {
      padding: 10px;
      width: 140px;
      border: 0;
      margin: 15px 0;
      outline: 0;
      background-color: #25BD8A;
      color: #fff; }

.choose {
  background-color: #F7F7F7; }
  .choose ul {
    display: flex;
    background: #000;
    color: #fff;
    margin: 0; }
    .choose ul li {
      padding: 10px 20px;
      cursor: pointer; }
  .choose .content {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff; }
    .choose .content img {
      width: 40%;
      height: 150px;
      float: left;
      padding-right: 10px; }
    .choose .content p {
      line-height: 1.5;
      color: #888;
      padding: 10px; }
  .choose .service, .choose .contact {
    display: none; }
  .choose .video-content {
    background: #636363;
    color: #fff;
    padding: 135px 0; }
    .choose .video-content i {
      background-color: red;
      color: #fff;
      padding: 15px;
      cursor: pointer; }

.testimonals {
  background-color: #333333; }
  .testimonals .section-header .section-title {
    color: #fff; }
  .testimonals .section-header .section-desc {
    color: #888; }
  .testimonals .testimonals-content {
    margin: 20px 0;
    overflow: hidden; }
    .testimonals .testimonals-content .item {
      background: #0c0c0c;
      padding: 20px 10px; }
      @media (max-width: 767px) {
        .testimonals .testimonals-content .item {
          margin-bottom: 10px; }
          .testimonals .testimonals-content .item :last-child {
            margin-bottom: 0; } }
      @media (min-width: 768px) {
        .testimonals .testimonals-content .item {
          margin-bottom: 10px; } }
      .testimonals .testimonals-content .item img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        padding: 3px;
        border: 2px solid #fff; }
      .testimonals .testimonals-content .item h3 {
        color: #fff; }
      .testimonals .testimonals-content .item span, .testimonals .testimonals-content .item p {
        color: #939393; }
      .testimonals .testimonals-content .item .stars {
        margin-top: 10px; }
        .testimonals .testimonals-content .item .stars span {
          color: #E8AA01; }

@media (max-width: 767px) {
  .blog .blog-content .blog-item {
    margin-bottom: 10px; } }
@media (min-width: 768px) {
  .blog .blog-content .blog-item {
    margin-bottom: 10px; } }
.blog .blog-content .blog-item img {
  width: 100%; }
.blog .blog-content .blog-item h3 {
  font-weight: bold;
  margin-top: 10px; }
.blog .blog-content .blog-item span i {
  color: #25BD8A;
  margin-right: 5px; }
.blog .blog-content .blog-item span:nth-of-type(1) {
  margin-right: 10px; }
.blog .blog-content .blog-item p {
  line-height: 1.8; }
.blog .blog-content .blog-item button {
  border: 0;
  background: #25BD8A;
  color: #fff;
  padding: 10px 15px;
  width: 120px; }

.lorem {
  background-color: #333333;
  color: #BDBDBD; }
  .lorem .lorem-item {
    margin: auto;
    padding: 100px 0; }
    .lorem .lorem-item i {
      font-size: 40px;
      margin-bottom: 15px;
      color: #25BD8A; }
    .lorem .lorem-item p {
      font-size: 18px;
      font-style: italic;
      width: 80%;
      margin: auto; }
    .lorem .lorem-item span {
      margin-top: 8px;
      display: block;
      font-style: italic; }

.projects {
  background-color: #25BD8A; }
  .projects p {
    color: #fff;
    font-size: 25px;
    margin: 10px 0; }
  .projects button {
    border: 0;
    background: #333;
    color: #fff;
    padding: 15px 10px;
    width: 156px;
    font-size: 17px; }

.contact h2 {
  font-size: 25px;
  margin-top: 0; }
.contact p {
  color: #888; }
.contact ul li {
  margin: 8px 0; }
  .contact ul li i {
    color: #25BD8A;
    font-size: 18px;
    border: 1px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 8px;
    transition: all ease-in-out 0.5s; }
  .contact ul li:hover i {
    background-color: #25BD8A;
    color: #fff; }
.contact form .form-group input {
  width: 50%;
  float: left;
  outline: 0; }
  .contact form .form-group input:focus {
    border-color: #333; }
.contact form textarea:focus {
  border-color: #333; }
.contact form .send {
  display: block;
  margin: 10px auto;
  width: 137px;
  padding: 10px 15px;
  background-color: #25BD8A;
  outline: 0; }

footer {
  background-color: #333333;
  color: #fff; }
  footer h2 {
    font-size: 27px; }
  footer .about-unifox p {
    color: #888; }
  footer .about-unifox ul li {
    display: inline-block; }
    footer .about-unifox ul li i {
      padding: 8px 12px; }
    footer .about-unifox ul li:nth-child(1) {
      background-color: #3B5998; }
    footer .about-unifox ul li:nth-child(2) {
      background-color: #55ACEE; }
    footer .about-unifox ul li:nth-child(3) {
      background-color: #DD4B39; }
    footer .about-unifox ul li:nth-child(4) {
      background-color: #FF0000; }
    footer .about-unifox ul li:nth-child(5) {
      background-color: #007BB5; }
  footer .recent span {
    display: block;
    margin: 8px 0; }
  footer .popular ul li {
    display: inline-block;
    margin: 10px 0; }
    footer .popular ul li a {
      color: #fff;
      border: 1px solid;
      padding: 8px;
      background: #888;
      text-decoration: none; }
  footer .gallery ul li {
    display: inline-block; }
    footer .gallery ul li img {
      max-width: 88px;
      border: 1px solid;
      padding: 2px; }

.footer-nav {
  background-color: #000;
  color: #fff;
  padding: 20px 0; }
  .footer-nav p {
    margin: 5px 0 10px; }
  .footer-nav ul {
    margin-top: 5px; }
    .footer-nav ul li {
      display: inline-block;
      width: calc(100% / 8);
      cursor: pointer;
      transition: Color 0.2s; }
      .footer-nav ul li a {
        color: #fff; }
      .footer-nav ul li:hover {
        color: #25BD8A; }
      .footer-nav ul li:last-of-type {
        position: fixed;
        text-align: center;
        background: #25BD8A;
        width: 40px;
        right: 8px;
        height: 40px;
        line-height: 40px;
        bottom: 19px;
        display: none;
        z-index: 10; }
        .footer-nav ul li:last-of-type:hover {
          color: #fff; }

/*# sourceMappingURL=main.css.map */
