*{
    // padding: 0;
    // margin: 0;
    box-sizing: border-box;
}
body{
    height: 3000px;
}
// navbar sticky class
.sticky{
    background-color: #fff;
    color: #000;
    box-shadow: 10px 0px 10px 1px #000;

    @media #{$maxMobile} {
        .container{
            margin: 0;
        }
    }
}
// general padding
.padding-y{
    padding: 20px 0;
}
.capitalize{
    text-transform: capitalize;
}

// overlay
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.5);
}

// section header
.section-header{
    position: relative;
    width: 50%;
    margin: auto;
    @media #{$maxMobile} {
        width: 80%;
    }
    .line{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .line1{
        background: rgba(198, 201, 200, 0.4);
        height: 2px;
        width: 170px;
    }
    .line2{
        background: $mainColor;
        height: 5px;
        width: 80px;
    }
    .section-title{
        margin-bottom: 15px;
        font-size: 40px;
        font-weight: bold;
        @media #{$maxMobile} {
            font-size: 30px;
        }
    }
    .section-desc{
        margin-top: 28px;
        margin-bottom: 20px;
    }
}

// active btn
.active-btn{
    background-color: $mainColor !important;
}

.footer-line{
    &::after{
        content: "";
        display: block;
        height: 2px;
        background-color: rgb(121, 114, 114);
        margin-top: 5px;
    }
}

   
  
