// start header
header{
    height: auto;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    @media #{$maxMobile}{
        background-color: #333;
    }
    .bars{
        i{
            position: absolute;
            right: 25px;
            top: 32px;
            display: block;
            cursor: pointer;
            z-index: 10;
            color: #333;
        }
    }
    .logo{
        h2{
            font-size: 30px;
            color: #333;
            cursor: pointer;
        }
    }
    nav{
        .nav-list{
            display: block;
            padding: 0;
            margin: 10px 0;
            // make my list is hidden in extra small screens
            @media #{$maxMobile}{
                display: none;
                margin: 0;
            }
            // make my list is visible from small screens to large
            @media #{$minSmall}{
                display: block !important;
            }
            @media #{$minLarge}{
                margin-top: 10px;
            }
            list-style: none;
            margin-bottom: 0;
            .list{
                display: inline-block;
                // make li element is block in extra small screens
                @media #{$maxMobile}{
                    display: block;
                }
                a{
                    padding: 10px;
                    display: block;
                    margin: 10px 0;
                    text-decoration: none;
                    color:#333;
                    transition: color 0.5s;
                    &:hover{
                        color: $mainColor;
                    }
                    // remove padding in in extra small screens
                    @media #{$maxMobile}{
                        padding: 0;
                    }
                    // update padding in large screens
                    @media #{$minLarge}{
                        padding: 15px;
                    }
                }
            }
        }
    }
}
// end header

// start home
.home{
    position: relative;
    margin-top: 0;
        .home-content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .home-title{
                font-size: 45px;
                color: #fff;
                margin-bottom: 25px;
                @media #{$maxMobile} {
                    font-size: 30px;
                }
            }
            .home-desc{
                color: #ddd;
                @media #{$maxMobile} {
                    font-size: 15px;
                }
            }
            .button{
                width: 150px;
                padding: 10px 0;
                font-size: 17px;
                background-color: $mainColor;
                color: #fff;
                transition: background-color 0.5s;
                &:hover{
                    background-color: rgba($mainColor, 0.7);
                }
                @media #{$maxMobile} {
                    margin-bottom: 10px;
                }
            }
        
    }
    height: 600px;
    background-image: url(../images/skill-bg.jpg);
    background-size: cover;
    background-position: center;

}
// end home

// start about
.about{
    .about-info{
        @media #{$maxMobile} {
            margin-bottom: 10px;
        }
        @media #{$minSmall} {
            margin-bottom: 10px;
        }
        @media #{$minSmall} and (max-width:991px) {
            text-align: center;
        }
        h3{
            margin-bottom: 20px;
            font-size: 24px;
            @media #{$maxMobile} {
                font-size: 20px;
            }
            span{
                color: $mainColor;
            }
        }
        p{
            line-height: 1.8;
            color: #888;  
            margin-bottom: 20px; 
        }
        button{
            width: 150px;
            padding: 10px 0;
            background: $mainColor;
            border: 0;
            color: #fff;
        }
    }
    .about-img img{
        width: 100%;
    }
}
// end about

// start services
.services{
    background-color: #f7f7f7;
    .service-item{
        background-color: #fff;
        padding: 10px;
        margin: 10px 0;
        transition: all 0.5s;
        &:hover{
            background-color: rgba($mainColor, 0.7);
            cursor: pointer;
            i{
                color: $mainColor;
                background-color: #fff;
            }
            p, h3{
                color: #fff;
            }
        }
        i{
            background-color: $mainColor;
            color: #fff;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 17px;
        }
        P{
            color: #888;
            line-height: 1.8;
        }
    }
}
// end services

// start statistics
.stat{
    background-image: url(../images/lap-stat.jpg);
    height: 300px;
    position: relative;
    background-size: cover;
    @media (max-width: 991px) {
        height: 900px;
    }
    .stat-item{
        text-align: center;
        margin: 90px 0;
        color: #fff;
        @media (max-width: 991px){
            margin: 50px 0 
        }
        i{
            display: block;
            width: 60px;
            height: 60px;
            line-height: 60px;
            background: $mainColor;
            font-size: 25px;
            border-radius: 50%;
            margin: auto;
            margin-bottom: 10px;
        }
        span{
            display: block;
            color: #fff;
            font-size: 25px;
        }
        .timer-desc{
            font-size: 20px
        }
    }
}
// end statistics

// start portfolio
.portfolio{
    .btn-container{
        margin-bottom: 20px;
        text-align: center;
        button{
            width: 120px;
            border: 0;
            padding: 10px;
            color: #fff;
            background: #333;
            outline: none;
        }
    }
    .imgs-container{
        img{
            margin-bottom: 20px;
                width: 100%;
            }
    }
    .more{
        width: 140px;
        border: 0;
        padding: 10px;
        color: #fff;
        background: #333;
        margin: auto;
        display: block;
        outline: none;
    }
}
// end portfolio

// start experts
.experts{
    background-color: #4C4C4C;
    padding: 40px 0;
    margin-bottom: 0;
    .section-title{
        color: #fff;
    }
    .progress-container{
        margin-top: 55px;
        .progress{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            text-align: center;
            font-size: 25px;
            line-height: 135px;
            color: #fff;
            background: none;
            box-shadow: none;
            position: relative;
            margin: auto;
            span{
                position: absolute;
                top: 7px;
                left: 53px;
            }
        }
        .progress-title{
            color: #fff;
            text-align: center;
            margin-top: 10px;
            font-size: 20px;
        }
    }
}
// end experts

// start plans
.plans{
    background-color: #F7F7F7;
    margin-top: 0;
    .plan-item{
        margin-top: 30px;
        background: #fff;
        text-align: center;
        .plan-header{
            background: #333;
            color: #fff;
            padding: 10px 0;
            transition: background-color 0.5s;
            .plan-price{
                display: block;
                font-size: 35px;
                font-weight: bold;
            }
            .plan-desc{
                font-size: 20px;
            }
        }
        .plan-title{
            margin: 0;
            font-size: 18px;
            padding: 30px 0;
            border-bottom: 1px solid #ccc;
        }
        ul{
            margin: 10px 0;
            li{
                line-height: 2;
            }
        }
        button{
            border: 0;
            width: 100%;
            height: 40px;
            background-color: #333;
            color: #fff;
            outline: 0;
            transition: background-color 0.5s;
        }
        &:hover{
            .plan-header , button{
                background-color: $mainColor;
            }
        }
    }
}
// end plans 

// start team section
.team{
    .item{
        h4{
            font-weight: bold;
            font-size: 20px;
        }
        .team-desc{
            font-size: 17px;
            margin-bottom: 5px;
            display: block;
        }
        ul{
            background: #000;
            color: #fff;
            padding: 15px;
            position: relative;
            li{
                display: inline-block;
                padding: 0px 12px;
                i{
                    position: relative;
                    z-index: 999;
                }
            }
            .bg{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: $mainColor;
                width: 0;
                transition: width 0.5s;
            }
        }
        &:hover{
            .bg{
                width: 100%;
            } 
        } 
    }
}
// end team section 

// strat work with experts section
.work-experts{
    background-image: url(../images/lap-stat.jpg);
    background-size: cover;
    height: 300px;
    position: relative;
    background-position: center;
    background-attachment: fixed;
    .work-experts-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        h1{
            color: #fff;
            font-size: 35px;
            @media #{$maxMobile} {
                font-size: 30px;
            }
        }
        p{
            color: rgb(212, 209, 209);
            font-size: 19px;
            margin: 10px auto;
            width: 60%;
            @media #{$maxMobile} {
                width: 80%;
            }
        }
        button{
            padding: 10px;
            width: 140px;
            border: 0;
            margin: 15px 0;
            outline: 0;
            background-color: $mainColor;
            color: #fff;
        }
    }
}
// end work with experts section

// start choose section
.choose{
    background-color: #F7F7F7;
    ul{
        display: flex;
        background: #000;
        color: #fff;
        margin: 0;
        li{
            padding: 10px 20px;
            cursor: pointer;
        }
    }
    .content{
            padding: 10px ;
            border: 1px solid #ccc;
            background-color: #fff;
        img{
            width: 40%;
            height: 150px;
            float: left;
            padding-right: 10px;
        }
        p{
            line-height: 1.5;
            color: #888;
            padding: 10px;
        }
    }
    .service,.contact{
        display: none;
    }
    .video-content{
        background: #636363;
        color: #fff;
        padding: 135px 0;
        i{
            background-color: red;
            color: #fff;
            padding: 15px;
            cursor: pointer;
        }
    }
}
// end choose section

// start testimonials
.testimonals{
    background-color: #333333;
    .section-header{
        .section-title{
            color: #fff;
        }
        .section-desc{
            color: #888;
        }
    }
.testimonals-content{
    margin: 20px 0;
    overflow: hidden;
    .item{
        @media #{$maxMobile}{
            margin-bottom: 10px;
            :last-child{
                margin-bottom: 0;
            }  
        }
        @media #{$minSmall}{
            margin-bottom: 10px;
        }
        background: rgb(12, 12, 12);
        padding: 20px 10px;
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            padding: 3px;
            border: 2px solid #fff;
        }
        h3{
            color: #fff;
        }
        span, p{
            color: #939393;
        }
        .stars{
            margin-top: 10px;
            span{
                color: #E8AA01;
            }
        }
    }
}
}
// end testimonials

// start blog
.blog{
    .blog-content{
        .blog-item{
            @media #{$maxMobile}{
                margin-bottom: 10px;
            }
            @media #{$minSmall}{
                margin-bottom: 10px;
            }
            img{
                width: 100%;
            }
            h3{
                font-weight: bold;
                margin-top: 10px;
            }
            span{
                i{
                    color: $mainColor;
                    margin-right: 5px;
                }
                &:nth-of-type(1){
                    margin-right: 10px;
                }
            }
            p{
                line-height: 1.8;
            }
            button{
                border: 0;
                background: $mainColor;
                color: #fff;
                padding: 10px 15px;
                width: 120px;
        }
        
    }
}
}
// end blog

// start slick
.lorem{
    background-color: #333333;
    color: #BDBDBD;
    .lorem-item {
        margin: auto;
        padding: 100px 0;
        i{
            font-size: 40px;
            margin-bottom: 15px;
            color: $mainColor;
        }
        p{
            font-size: 18px;
            font-style: italic;
            width:80%; 
            margin:auto
        }
        span{
            margin-top: 8px;
            display: block;
            font-style: italic;
        }
    }
}
// end slick 

// start projects 
.projects{
    background-color: $mainColor;
        p{
            color: #fff;
            font-size: 25px;
            margin: 10px 0;
        }
        button{
            border: 0;
            background: #333;
            color: #fff;
            padding: 15px 10px;
            width: 156px;
            font-size: 17px;
        }
}
// end projects 

// strat contact 
.contact{
    h2{
        font-size: 25px; 
        margin-top: 0;
    }
    p{
        color: #888;
    }
    ul{
        li{
            margin: 8px 0;
            i{
                color: $mainColor;
                font-size: 18px;
                border: 1px solid;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                margin-right: 8px;
                transition: all ease-in-out 0.5s;
            }
            &:hover{
                i{
                    background-color: $mainColor;
                    color: #fff;
                }
            }
            // @media #{$maxMobile} {
            //     text-align: center;
            // }
        }
    }
    form{
        .form-group{
            input{
                width: 50%;
                float: left;
                outline: 0;
                &:focus{
                    border-color: #333;
                }
            }
        }
        textarea{
            &:focus{
                border-color: #333;
            }  
        }
        .send{
            display: block;
            margin: 10px auto;
            width: 137px;
            padding: 10px 15px;
            background-color: $mainColor;
            outline: 0;
        }
    }
}
// end contact

// start footer 
footer{
    background-color: #333333;
    color:#fff;
    h2{
        font-size: 27px;
    }
    .about-unifox{
        p{
            color: #888;
        }
        ul{
            li{
                display: inline-block;
                i{
                    padding: 8px 12px;

                }
                &:nth-child(1){
                    background-color: #3B5998;
                }
                &:nth-child(2){
                    background-color: #55ACEE;
                }
                &:nth-child(3){
                    background-color: #DD4B39;
                }
                &:nth-child(4){
                    background-color: #FF0000;
                }
                &:nth-child(5){
                    background-color: #007BB5;
                }
            }
        }
    }
    .recent{
        span{
            display: block;
            margin: 8px 0;
        }
    }
    .popular{
        ul{
            li{
                display: inline-block;
                margin: 10px 0;
                a{
                    color: #fff;
                    border: 1px solid;
                    padding: 8px;
                    background: #888;
                    text-decoration: none;
                }
            }
        }
    }
    .gallery{
        ul{
            li{
                display: inline-block;
                img{
                    max-width: 88px;
                    border: 1px solid;
                    padding: 2px;
                }
            }
        }
    }
}


.footer-nav{
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    p{
        margin: 5px 0 10px;
    }
    ul{
        margin-top: 5px;
        li{
            display: inline-block;
            width: calc(100% / 8);
            cursor: pointer;
            transition: Color 0.2s;
            a{
                color: #fff;
            }
            &:hover{
                color: $mainColor;
            }
            &:last-of-type{
                position: fixed;
                text-align: center;
                background: #25BD8A;
                width: 40px;
                right: 8px;
                height: 40px;
                line-height: 40px;
                bottom: 19px;
                display: none;
                z-index: 10;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
}
// end footer
